{% extends "base.html" %}



{% block content %}
<div class="max-w-7xl mx-auto mt-10 px-4">

    <h1 class="text-3xl font-bold mb-6 text-center md:text-left text-white">Plats</h1>

    <div class="grid grid-cols-1 mt-4 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for dish in menu %}
        <div class="block bg-orange-200 border group border-gray-200 rounded-md p-4 hover:shadow-lg transition-all duration-300">
            
            <a href="{{ url_for('menu_detail', id=dish.item_id) }}" class="block relative">
                <img src="{{ dish.image_url or 'https://picsum.photos/400/600?random=' ~ dish.item_id }}" 
                     alt="{{ dish.name }}" 
                     class="w-full h-48 object-cover rounded-md group-hover:scale-105 transition-all duration-300">
                {% if dish.rating %}
                <div class="absolute flex items-center gap-1 top-2 right-2 bg-gray-600 text-white px-2 py-1 rounded-md">
                    <i class="bi bi-star-fill text-sm"></i>
                    <span>{{ dish.rating }}</span>
                </div>
                {% endif %}
            

                <div class="flex items-baseline justify-between gap-4 mt-2">
                    <h2 class="text-lg font-bold">{{ dish.name }}</h2>
                    <h2 class="text-sm text-gray-500 whitespace-nowrap">{{ dish.price }} DH | {{ dish.category }}</h2>
                </div>

                <p class="text-gray-500 line-clamp-2 mt-1">{{ dish.description }}</p>
            </a>
            
            <div class="flex items-center gap-2 mt-4 justify-between">
                <a href="{{ url_for('update_item', item_id=dish.item_id) }}"
                   class="bg-gray-600 text-white px-4 py-2 rounded-md flex items-center gap-2 hover:bg-blue-700 transition">
                    <i class="bi bi-pencil-fill"></i>
                    Edit
                </a>

                <form action="{{ url_for('delete_item', item_id=dish.item_id) }}" method="post">
                    <button type="submit" 
                            class="bg-red-600 text-white px-4 py-2 rounded-md flex items-center gap-2 hover:bg-red-700 transition">
                        <i class="bi bi-trash-fill"></i> Delete
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="flex justify-center items-center gap-4 mt-6">
        {% if page > 1 %}
            <a href="{{ url_for('index', page=page-1) }}" class="px-4 py-2 bg-orange-600 text-white rounded hover:bg-orange-700 transition">Previous</a>
        {% else %}
            <span class="px-4 py-2 bg-orange-100 text-white-900 rounded cursor-not-allowed">Previous</span>
        {% endif %}

        <span class="font-bold text-white">Page {{ page }} / {{ total_pages }}</span>

        {% if page < total_pages %}
            <a href="{{ url_for('index', page=page+1) }}" class="px-4 py-2 bg-orange-600 text-white rounded hover:bg-orange-700 transition">Next</a>
        {% else %}
            <span class="px-4 py-2 bg-orange-100 text-white-900 rounded cursor-not-allowed">Next</span>
        {% endif %}
    </div>
</div>
{% endblock %}
